<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Andy Fehrenbach | Designer / Developer / Uxer–er</title>
    <link rel="icon" type="image/png" href="favicon.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16.png" sizes="16x16">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-89125403-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
    <div class="😮" id="app">
        <h1 class="🍾">Andy Fehrenbach</h1>
        <h1 class="🌮">
        Designer / Developer / UXer—er
         <span.emoji-1> 📐</span>
         <span.emoji-2>🖥</span>
         <span.emoji-3>💥</span>
         </h1>
        <!-- <div class="project" v-for="project in projects">
          <a class="🔥 expandable" href="#">{{ project.displayText }}</a>
          <div class="carousel-wrapper">
              <div class="carousel-nav-container"></div>
              <div class="slide-viewer" v-for="index in images">
                  <img class="img" src="https://static.pexels.com/photos/196050/pexels-photo-196050.jpeg" alt="">
                  <img class="img two" src="https://static.pexels.com/photos/101514/pexels-photo-101514.jpeg" alt="">
                  <img class="img three" src="https://static.pexels.com/photos/280352/pexels-photo-280352.jpeg" alt="">
              </div>
          </div>
        </div>

        <a class="🍆" href="http://hr.homi.io">hr.homi.io</a>
        <a class="🙌" href="http://bridge-guitar-app.herokuapp.com">bridge–guitar–app.heroku–app.com</a>
        <a class="😻" href="http://www.homesavants.com/">home—savants.com</a>
        <a class="ob" href="https://github.com/andyfehrenbach/open-beds">Open—Beds</a> -->
        <h1 class="🍻">andy.fehrenbach@gmail.com</h1>
        <div class="👻">
            <a class="💩 🏉" title="twitter" href="http://www.twitter.com/andyfehrenbach"><img src="img/twitter.svg" alt="Twitter Link" /></a>
            <a class="💩 😎" title="linkedIn" href="https://www.linkedin.com/in/andy-fehrenbach-95232a59"><img src="img/linkedin.svg" alt="Linkedin Link" /></a>
            <a class="💩 codepen" title="Codepen" href="https://www.codepen.io/andyfehrenbach/"><img src="img/codepen.svg" alt="Codepen Link" /></a>
            <a class="💩 🙀" title="Github" href="http://www.github.com/andyfehrenbach"><img src="img/github.svg" alt="Github Link" /></a>
            <a class="💩 🌈" title="Instant Gram" href="https://www.instagram.com/afehrenb/"><img src="img/insta.svg" alt="Insta Link" /></a>
            <a class="💩 👯" title="Pinterest" href="https://www.pinterest.com/andyfehrenbach/graphic-design/"><img src="img/pinterest.svg" alt="Pinterest Graphic Design Board Link" /></a>
            <a class="💩 🙃" title="Facebook" href="http://www.facebook.com/fehrenbach2"><img src="img/facebook.svg" alt="Facebook Link" /></a>
        </div>
    </div>
    <div class="💥">
        <div class="🎯" id="rainbow"> </div>
    </div>
    <footer>
        <p class="⛵️d"> &copy 2017 Andy Fehrenbach </p>
        <!-- <div class="🌀"> </div> -->
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <script type="text/javascript" src="/js/mayo.js"></script>
</body>

</html>
