@mixin hover-color($color) {
  &:hover{
    background-color: $color;
  }
}

body {
  margin: 0;
  padding: 0 4vw;
  padding-top: 2vw;
  text-transform: uppercase;
  transition: background-color .5s ease;
  background-color: #fff;
}

.waffles {
  text-align: center;
  z-index: 5;
}

h1, a {
  font-family: 'Work Sans', 'Helvetica Neue', 'Helvetica',  sans-serif;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  letter-spacing: -.053em;
  color: #000;
  z-index: 10;
}

a {
  display: block;
}

a:hover {
  color: blue;
}

.name {
  font-size: 10.2vw
}

.title {
  font-size: 4.5vw;
}

.homi {
  font-size: 16.6vw;
}

.homi-recruiter {
  font-size: 17.7vw;
}

.bridge {
  font-size: 4.95vw;
}

.home-savants {
  font-size: 8.9vw;
}

.email {
  font-size: 6.1vw;
}

.social-links {
  display: block;
  text-align: left;
  margin-top: 3vw;
  position: relative;
}

.social-link {
  display: inline-block;
  width: 8vw;
  height: 8vw;
  margin-right: 2vw;
  background-color: #000;
  position: relative;

  &.linkedin {
    @include hover-color(#0077b5);
  }

  &.twitter {
    @include hover-color(#55acee);
  }

  &.facebook {
    @include hover-color(#3b5998);
  }

  &.github{
    @include hover-color(#4078c0);
  }

  &.pinterest {
    @include hover-color(#bd081c);
  }

  &.instagram {
    &:hover {
      background:
        radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
        radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
        radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
        radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
        linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    }
  }

  img {
    position: absolute;
    max-height: 75%;
    max-width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.frame {
  overflow-x: hidden;
  width: 100%;
  height: 88vh;
  margin-top: 6vh;
  margin-bottom: 6vh;
}

.rainbow {
  width: 1200vw;
  height: 100%;
  background: linear-gradient(100deg, orange, tomato,darkmagenta, cornflowerblue, mediumspringgreen, lightyellow, white, white);
  position: relative;
  left: 0;
  transition: left 8s ease-in;
  &:hover {
    left: -1100vw;
    transition: left 45s linear;
  }
}

.p-footer {
  text-transform: none;
  font-size: .8rem;
  margin: 0;
  padding: 1vw 0;
}

.bottom-rule {
  background: linear-gradient(100deg, orange, tomato,darkmagenta, cornflowerblue, mediumspringgreen, honeydew);
  height: 3px;
  width: 100vw;
  margin-left: -4vw;
}
