@mixin full-screen {
  width: 100vw;
  height: 100vh;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


@mixin small-dash ($color, $width) {
  &::after {
  content: "";
  height: 4px;
  background-color: $color;
  width: $width;
  display: block;
  margin-top: .2em;
  margin-left: 0;
  }
}
