@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


@mixin small-dash ($color, $speed) {
  content: "";
  height: 4px;
  background-color: $color;
  width: 1em;
  display: block;
  margin-top: .2em;
  margin-left: 0;
  transition: all $speed ease-out;
}
