body {
  background: #666;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

li.nav-item {
  height: 100%;
  display: inline-block;
  // @extend .work-list;
  color: rgb(35, 219, 153);
  a {
    color: inherit;
    height: 100%;
  }

}


// .vertical {
//   transform: rotate(90deg);
// }

.nav-vert {

  transform: rotate(90deg) translate(50%);
  display: block;
  background-color: tomato;
  right: 0;
    top: 0;
}
