//mixins
@import "mixins";

$head-font: 'League Gothic Condensed', 'Work Sans', sans-serif;
$body-font: 'Work Sans', sans-serif;


body {
  font-family: $body-font;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, a {
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}


.background {
  @include full-screen;
  position: relative;
  background-color: #222;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  overflow: hidden;

}

//
// .circle {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   margin: auto;
//   z-index: 10;
//   background-color: tomato;
//   height: 80vh;
//   width: 80vh;
//   border-radius: 40vh;
// }

.top {
  height: 50vh;
  width: 600vw;
  background: linear-gradient(100deg, orange, tomato,rgb(128, 46, 172), blue, rgb(35, 219, 153));
  position: absolute;
  left: 0;
  top: 0;
  @include transition(left 20s linear);
}

.state-2 {
  left: -500vw;
}
//
// .bottom {
//   height: 50vh;
//   background: #000;
// }

.name {
  font-family: $head-font;
  letter-spacing: .02em;
  position: absolute;
  top: 32%;
  left: 3vw;
  /* transform: translate(-50%, -53%); */
  margin: auto;
  font-size: 10vw;
  font-weight: 300;
  text-align: left;
}

.description {
    font-weight: 400;
    margin: 0;
    margin-left: 3vw;
    font-size: 1.5rem;
    position: absolute;
    top: 52.5%;
    list-style-type: none;
    padding: 0;

}

.description-list {
  display: inline-block;
  // @include small-dash(tomato, .75em);
  // &::after {
  //   margin-top: 3em;
  // }
  &:last-child{
    padding-right: 2em;
    &::after{
      content: "🍻";
      display: block;
      position: absolute;
      top: -.14em;
    right: .25em;
      font-size: 125%;
    }

  }
}

.work {
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 0;
  @include small-dash(gold, 1em);
  &::after {
    @include transition(all .5s ease-out);
  }
}



.clicked {
  @include small-dash (tomato, 3.1em);
}

.work-container {
  width: 20vw;
  position: absolute;
  right: 2vw;
  top: 55%;
  z-index: 50;
}

.work-list {
  height: 0px;
  overflow: hidden;
  @include transition (height 1s ease-out);
  list-style-type: none;
  padding: 0;
  line-height: 1.6;
  font-size: 1.5rem;
}

.expanded {
  height: 400px;
}

.homi {
  position: relative;
}

.homi {
  @include small-dash (purple, 1em);
    &::after {
      @include transition (all .3s ease-out);
    }
}

.homi:hover::after {
  margin-left: .5em;
}

.bridge {
  @include small-dash (lightgreen, 1em);
    &::after {
      @include transition (all .25s ease-out);
    }
}

.bridge:hover::after {
  margin-left: 1em;
}


.home-savants {
  @include small-dash (navy, 1em);
    &::after {
      @include transition (all .2s ease-out);
    }
}

.home-savants:hover::after {
  margin-left: 1.5em;
}

.preview {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 45;
  @include full-screen;
  opacity: 1;
  transition: opacity .2s ease-out;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.homi-preview {
  background: tomato;
}

.bridge-preview {
  background: rgb(35, 219, 153);
}

.home-savants-preview {
  background: rgb(128, 46, 172);
}
